<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wenyfour | Verify email address</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@400;900&family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif">
    <img
      src="https://res.cloudinary.com/dx5ilizca/image/upload/v1700895319/Galaxy__2_-removebg-preview_w1jyje.png"
      alt="Wenyfour logo"
      style="width: 250px"
    />
    <div style="margin: 10px">
      <h1 style="font-weight: 900">Verify Email Address</h1>
      <p style="margin: 0">Hello Yasir Ado Hassan,</p>
      <p>
        Thanks for signing up to our platform, we are thrilled to have you with
        us.
      </p>

      <a href=" https://api.wenyfour.com...">
        <button
          style="
            background-color: #0d6efd;
            color: white;
            padding: 10px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
          "
        >
          Verify email address
        </button>
      </a>

      <p style="margin-top: 50px; color: grey; font-size: 12px">
        Copyright © <span id="currentYear"></span> Wenyfour. All rights
        reserved.
      </p>
    </div>
    <script>
      // Get the current year
      var currentYear = new Date().getFullYear();

      // Update the content of the placeholder element
      document.getElementById("currentYear").textContent = currentYear;
    </script>
  </body>
</html>
