body {
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important; */
  quotes: "“" "”";
  text-size-adjust: 100%;
  background-color: white !important;
}
* {
  /* font-family: "Lora", serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Quicksand", sans-serif; */
}
:root {
  --inputBgColor: rgb(237, 237, 237);
  --primaryColor: #0d6efd;
}

/* .input_field {
  background-color: transparent;
  border: 1px solid #a4a4a4;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  display: inline;
} */
.input_field {
  background-color: var(--inputBgColor);
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  width: 100%;
  padding: 13px;
  display: inline;
}
.input_field:focus {
  /* outline: none; */
  outline: 2px solid rgb(214, 214, 214);
}
.label {
  font-size: 12px;
  display: block;
}
.textarea_ {
  resize: none;
}
.app_button {
  background-color: #0d6efd;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  padding: 7px 20px;
}
.app_button:active {
  background-color: #0d6dfd34;
  color: #0d6efd;
  border: 1px solid #0d6efd;
}
.app_button:active:focus::after {
  outline: 1px solid #0d6efd;
}
.bold {
  cursor: pointer;
  font-weight: bold;
}
.not_bold {
  cursor: pointer;
}

.danger_button {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 20px;
}
.inactive_danger_button {
  border: 1px solid #ff0000;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 20px;
}
.inactive_danger_button:hover {
  cursor: not-allowed;
}
.report_text {
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}
/* .input_field:focus:invalid {
  border: 1px solid red;
} */

.edit_icon {
  background-color: rgb(225, 225, 225);
  padding: 9px;
  border-radius: 50%;
}

.auth {
  width: 100% !important;
}
.app_button_second {
  border: none;
  background-color: white;
  color: #000000;
}

.forgot_p {
  color: #000000;
  font-size: 13px;
}
.logo {
  font-weight: 900;
}
.navbar_ {
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgb(255, 255, 255) !important;
}

.fullname {
  font-weight: 500;
}
.about {
  margin-top: 5px;
  font-size: 13px;
}
.email,
.phone,
.date_joined,
.years {
  color: grey;
  margin: 0;
}
.profile_pic {
  border-radius: 50%;
  width: 200px;
}

.date_joined {
  color: #000000;
}
.search_ride_input {
  /* width: 200px; */
}
.from_to {
  /* font-weight: 500; */
  margin: 0;
}
.rides_avail {
  /* font-weight: 700; */
  /* margin: 0; */
  text-transform: capitalize;
}
.rides-avail-div {
  background-color: var(--inputBgColor);
  border-radius: 5px;
  width: fit-content;
  padding: 5px 10px;
}
.results_card {
  border-radius: 20px !important;
  border: none !important;
  background-color: white !important;
}
.profile {
  border-radius: 50%;
  width: 40px;
}
.results_date {
  font-weight: 800;
  font-size: 20px;
}
.results_card {
  cursor: pointer;
  background-color: var(--inputBgColor) !important;
}
.pay_des {
  background-color: #dadada;
  width: fit-content;
  border-radius: 10px;
  padding: 5px;
  font-size: 10px !important;
}
.results_card:hover {
}
.divider {
  background-color: rgb(237, 237, 237);
  width: 100%;
  padding: 3px;
}
.support_btn {
  font-size: 12px;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  border: none;
  color: black;
  cursor: pointer;
}
.hr {
  color: rgb(157, 157, 157);
}
.second_app_button {
  color: black;
  background-color: #f1f1f1;
}
.ride_details_user:hover {
  cursor: pointer;
}
.ride_details_user:hover p,
.ride_details_user:hover .arrow,
.ride_details_user:hover span {
  color: var(--primaryColor);
}
.ride_details_user span {
  /* color: grey; */
}
.profile_dropdown_body {
  /* width: 200px; */
}
.profile_dropdown {
  border: none !important;
  background-color: white;
  padding: 5px !important;
  width: 250px;
}
.profile_drop_item {
  /* padding: 3px; */
  /* width: fit-content; */
}
.profile_drop_item:hover {
  background-color: #f1f1f1;
  border-radius: 7px;
  cursor: pointer;
}

.edit_button {
  border: 1px solid #0d6efd;
}

.back {
  background-color: #d9d9d9;

  padding: 10px;
  border-radius: 50%;
}

.back_button {
  border: none;
  border-radius: 50%;
  color: black !important;
  background-color: rgb(237, 237, 237);
  padding: 5px 10px;
  /* border: 1px solid #0d6efd; */
}

.back_button:hover {
  cursor: pointer;
  background-color: #dfdfdf;
}

.back:active {
  background-color: #cfcfcf;
}
.car_info_div {
  background-color: #f1f1f1;
  padding: 15px;
  border-radius: 20px;
}

.profile_div_button {
  display: flex;
}

.publish_icon {
  background-color: #0d6efd;
  color: white;
  font-size: 30px;
  border-radius: 50px;
}

.cancel_button {
  /* background-colo; */
  /* color: white; */
  border: none;
  border-radius: 5px;
  font-size: 13px;
  padding: 7px 20px;
}
.dfdfdf {
  width: 100%;
}
table {
  /* width: 100%; */
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  text-align: left;
  width: 150px;
  border-bottom: 1px solid #ddd;
}
th {
  /* background-color: #f2f2f2; */
}
.pppp {
  position: relative;
}
.bbbb {
  position: absolute;
  bottom: -10px;
  left: 130px;
}
.add_profile_picture {
  font-size: 15px;
  padding: 7px 10px;
  background-color: #0d6efd;
  border-radius: 500%;
  color: white;
  border: none;
}

.support_div {
  background-color: rgba(255, 255, 255, 0.563);
  border-radius: 10px;
}
.help_icon {
  font-size: 2rem;
  transition: 200ms;
  cursor: pointer;
}
.help_icon:hover {
  font-size: 2.2rem;
}

.searchhhhh {
  /* width: 200px; */
}
.internet {
  background-color: #0d6efd;
  position: absolute;
  width: 100%;
  bottom: 0;
  /* font-weight: */
  color: white;
  border-top: 2px solid white;
  text-align: center;
}

.image-library {
  display: flex;
  flex-wrap: wrap;
  /* align-items: ; */
}

.image-container {
  width: 200px; /* Set your desired width */
  height: 200px; /* Set your desired height */
  overflow: hidden;
  display: block;
  margin: 0 auto;
  /* margin: 5px; Adjust margin as needed */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the entire container */
}

@media (max-width: 575.98px) {
  .wal_bal {
    font-size: 40px !important;
    font-weight: bold;
  }
  * {
    font-size: 13px;
  }
  .invoice_head {
    display: flex;
    flex-direction: column;
  }
  .pppp {
    position: relative;
  }
  .bbbb {
    position: absolute;
    bottom: -5px;
    left: 70px;
  }
  .cam {
    font-size: 10px !important;
  }
  .add_profile_picture {
    padding: 5px;
    font-size: 5px;
    background-color: #0d6efd;
    border-radius: 50px;
    color: white;
    border: none;
  }
  .invoice_head .text_ {
    text-align: left !important;
    padding-left: 10px;
  }
  .invoice_head img {
    width: 100px !important;
  }
  .invoice_f {
    font-size: 9px !important;
  }
  .invoice_head .text_ p {
    font-size: 10px !important;
  }
  .support_btn {
    font-size: 8px;
    border-radius: 5px;
    /* font-weight: bold; */
    /* font-weight: ; */
    padding: 5px;
    border: none;
    color: black;
    cursor: pointer;
  }
  .help_icon {
    font-size: 2rem;
  }
  .notification_icon {
    display: none !important;
  }
  .add {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    border-radius: 15px !important;
  }
  .edit_profile {
    background-color: transparent !important;
    border: rgb(197, 197, 197) 1px solid;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
  }
  .edit_profile_web {
    display: none;
  }
  .profile_heading {
    display: none;
    /* margin-top: -220px !important; */
  }

  .profile_image_div {
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 10px !important;
  }
  .mobile_logo {
    width: 120px !important;
  }
  .page_title {
    font-size: 30px !important;
  }
  .web_rep {
    display: none;
  }
  .profile_div {
    /* display: flex; */
    flex-direction: column;
    /* text-align: center; */
  }
  .about {
    font-size: 14px;
  }
  .profile_pic {
    border-radius: 50%;
    width: 100px;
    display: block;
    /* margin-left: auto;
      margin-right: auto; */
    /* margin-top: -10px; */
  }
  .profile_div_button {
    font-size: 14px;
    display: inline-block !important;
  }
  .search_ride_inputs_div {
    display: flex;
    flex-direction: column;
  }
  .search_ride_inputs_div input {
    width: 100% !important;
  }
  .pub_web {
    display: none;
  }
  .footer_text {
    font-size: 10px !important;
  }
}
@media (min-width: 575.98px) {
  .profile_div_wrapper {
    margin-top: 3rem;
  }
  .pub_mob {
    display: none;
  }
  .mob_rep {
    display: none;
  }
  .edit_profile {
    display: none;
  }
  .publish_icon {
    display: none;
  }
}
